.stepGroup {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
}

.stepRow {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.conditionGroup,
.onSuccessGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formGroup {
  margin: 1.5rem 0;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
}

.ruleRow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.input {
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 100%;
}

.error {
  color: red;
  font-size: 0.875rem;
}

.button {
  padding: 0.5rem 1rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #0056b3;
}

.deleteButton {
  background: #dc3545;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton:hover {
  background: #c82333;
}

.buttonRow {
  display: flex;
  justify-content: space-around;
  margin: 5px 0px;
}
.conditionType {
  display: flex;
  font-weight: 700;
  padding: 5px 0;
  height: 45px;
}

.margin5{
  margin: 5px 0;
}